body {
    background-color: #71a5c2;
    background-image: linear-gradient(white, lightblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h2 {
    background-color: #333;
    color: white;
    padding: 10px;
    font-family:italic;
    text-align: center;

}
#btn1 {
    background-color: lightcoral;
    border-radius: 30px;
    height: 40px;
    width: 80px;
    margin: 15px;
}
#btn2 {
    background-color:lightgoldenrodyellow;
    border-radius: 30px;
    height: 40px;
    width: 80px;
    margin: 15px;
}
#btn3 {
    background-color: lightgreen;
    border-radius: 30px;
    height: 40px;
    width: 80px;
    margin: 15px;
}
#btn4 {
    background-color: lightslategray;
    border-radius: 30px;
    height: 40px;
    width: 80px;
    margin: 15px;
}
#btn5 {
    background-color: lightgrey;
    border-radius: 30px;
    height: 40px;
    width: 80px;
    margin: 15px;
}
#item-container {
    font-size: xx-small;
    
}

